!!!
%html
  %head
    %title Rankit
    = stylesheet_link_tag    "//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css", :media => :all
    = stylesheet_link_tag    "rankit/application", :media => "all"
    = javascript_include_tag "rankit/application"
    = csrf_meta_tags
  %body
    .container
      .row
        .navbar
          .navbar-inner
            = link_to 'Rankit', rankit.root_path, :class => "brand"
            %ul.nav
              %li= link_to 'Sign out', rankit.destroy_user_session_path
      .row
        - if flash[:notice]
          .alert.alert-success
            = flash[:notice]
        - if flash[:alert]
          .alert
            = flash[:alert]
      = yield
